@model AdminYonetim.Models.DataViewModel.SliderViewModel

@{
    ViewBag.Title = "Slider Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Bu sliderı silmek istediğinizden emin misiniz?</h3>
<div>

@using (Html.BeginForm("SliderDelete","Slider",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    
    <hr />
    <dl class="dl-horizontal">
        <dt><br />
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd><br />
            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>
        <dt><br />
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
            
        <dd><br />
            @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

        <dt><br />
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd><br />
            @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>
        <dt>
            <br />
        </dt>
        <dd>
            <br />
            <div class="form-actions no-color">
                <input type="submit" value="SİL" class="btn btn-warning" />
            </div>
        </dd>

    </dl>
}
    <hr />
    <div class="divEkle">
        <a href="@Url.Action("Index", "Slider")"><i class="fa fa-arrow-circle-left fa-2x"></i><div style="font-size:18px;" id="idEkle">Listeye Dön</div></a>
    </div>
</div>
